body{

background:#eef2f7;

}

.card{

border:none;
border-radius:15px;

}

.list-group-item{

cursor:pointer;

}

.badge{

font-size:16px;
margin:4px;

}

.synonym{

background:#198754;

}

.antonym{

background:#dc3545;

}